# Copy this file to .env.local and fill in your values

DATABASE_URL=postgresql://neondb_owner:npg_Ev2tenfHRB9C@ep-silent-butterfly-ao7n9dw0-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

UPSTASH_REDIS_REST_URL=https://funky-wasp-94155.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAW_LAAIgcDJjZTNiMmIzNWQxOTY0ZjMyYjI1YzljNjg4YWFjNjVmYw

R2_ACCESS_KEY_ID=8a824b592f0b3a5d93ed0bc4ccd55c71
R2_SECRET_ACCESS_KEY=9eef73daae1ccd3378b861bf56ce74d2757b92fa1fbf2e450f51b0fe162ee634
R2_BUCKET_NAME=translook-press
R2_ENDPOINT=https://0d4293cde18c312726d39db486071195.r2.cloudflarestorage.com
R2_ACCOUNT_ID=0d4293cde18c312726d39db486071195

# Generate with: openssl rand -base64 32
AUTH_SECRET=your-secret-here-generate-with-openssl-rand-base64-32
NEXTAUTH_URL=http://localhost:3000
